{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "linebreak-style": 0,
    "no-unused-vars": "warn"
  }
}
